{% extends "base.html" %}

{% block title %}Services - Muhammad{% endblock %}

{% block content %}
<section class="page-content">
    <h2 class="section-title">My Achievements</h2>
    <div class="service-container">
        <div class="service-item">
            <h3>State Entry Exam (DIM)</h3>
            <p>I have collected 662.9 points out of 700, which helped me to get accepted to my current university</p>
        </div>
        <div class="service-item">
            <h3>WaterTech Bootcamp</h3>
            <p>I have completed the WaterTech Bootcamp organized by ADSEA and SUP VC . There I have learned many things about water treatment and water management</p>
            <p>At the end our team won the 3th place in the hackathon</p>
        </div>
        <div class="service-item">
            <h3>Vibe Hackathon</h3>
            <p>We took the 2nd place there. That was a 24 hour hackathon sponsored by Google Developers group in Holberthon School Azerbaijan. There we have developed a AI vision tool for clothers</p>
        </div>
    </div>
</section>
{% endblock %}