{% extends "base.html" %}

{% block title %}Contact - Muhammad{% endblock %}

{% block content %}
<section class="page-content">
    <h2 class="section-title">Get In Touch</h2>
    <div class="contact-info">
        <p>Feel free to reach out to me through my social media or via email.</p>
        <a href="mailto:your_email@example.com" class="contact-link"><i class="fas fa-envelope"></i> muhammadteymurlu07@gmail.com</a>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</section>
{% endblock %}