{% extends "base.html" %}

{% block title %}Education - Muhammad{% endblock %}

{% block content %}
<section class="page-content">
    <h2 class="section-title">My Education</h2>
    <div class="timeline">
        <div class="timeline-item">
            <h3>High School</h3>
            <p class="timeline-meta">Sapnakaran High School | 2014-2024</p>
            <p>I graduated from high school with a strong academic record and a passion for computer science.</p>
            <p>This academic records helped me to finish high school with the Red Certificate.</p>
        </div>
        <div class="timeline-item">
            <h3>Bachelor's Degree</h3>
            <p class="timeline-meta">Baku Higher Oil School/ Computer Science| 2024-2029</p>
            <p>During Foundation year I got my 7.0 IELTS certificate.</p>
            <p>In the next 4 years I will learn many subjects related to computer science and improve my skills.</p>
        </div>
    </div>
</section>
{% endblock %}