{% extends "base.html" %}

{% block title %}Experience - Muhammad{% endblock %}

{% block content %}
<section class="page-content">
    <h2 class="section-title">My Experiences</h2>
    <div class="job-container">
        <div class="job-item">
            <h3>Hackathons</h3>
            <p class="job-meta">Vibe Hackathon | Google Developers Group Baku</p>
            <ul>
                <li>I was working as Back-End Dev in the Hackathon</li>
                <li>We created a web site that can recognize images using OpenAI's CLIP module</li>
                <li>Won the 2nd place among 40+ teams</li>
            </ul>
        </div>
        <div class="job-item">

        </div>
    </div>
</section>
{% endblock %}