{% extends "base.html" %}

{% block title %}Experience - Muhammad{% endblock %}

{% block content %}
<section class="page-content">
    <h2 class="section-title">My Experiences</h2>
    <div class="job-container">
        <div class="job-item">
            <h3>Hackathons</h3>
            <p class="job-meta">Vibe Hackathon | Google Developers Group Baku</p>
            <ul>
                <li>I was working as Back-End Dev in the Hackathon</li>
                <li>We created a web site that can recognize images using OpenAI's CLIP module</li>
                <li>Won the 2nd place among 40+ teams</li>
            </ul>
            <br> <br>
            <p class="job-meta">WaterTech Bootcamp | ADSEA & SUP VC</p>
            <ul>
                <li>I was working as a Full-Stack Dev in the Bootcamp</li>
                <li>We created a site that can help to reduce water waste in pipelines using IoT, chemistry, and AI</li>
                <li>Won the 3rd place among 15 teams</li>
            </ul>
        </div>
        <div class="job-item">
            <h3>Volunteering</h3>
            <p class="job-meta"> Volunteer at Young Programmmers Society BHOS | </p>
            <ul>
                <li>Helping to organize events</li>
                <li>Improved my soft skills and stress management</li>
            </ul>
        </div>
        <div class="job-item">

        </div>
    </div>
</section>
{% endblock %}