{% extends "base.html" %}

{% block title %}Skills - Muhammad{% endblock %}

{% block content %}
<section class="page-content">
    <h2 class="section-title">My Skills</h2>
    <div class="skills-container">
        <div class="skill-card">
            <h3>Programming Languages</h3>
            <ul>
                <li>Python</li>
                <li>HTML & CSS</li>
                <li>Java</li>
                <li>C</li>
            </ul>
        </div>
        <div class="skill-card">
            <h3>Frameworks & Libraries</h3>
            <ul>
                <li>Flask</li>
                <li>Ollama</li>
                <li>Json</li>
            </ul>
        </div>
        <div class="skill-card">
            <h3>Tools & Technologies</h3>
            <ul>
                <li>Git & GitHub</li>
                <li>VS Code</li>
            </ul>
        </div>
        <div class="skill-card">
            <h3>Databases</h3>
            <ul>
                <li>PostgreSQL</li>
                <li>SQLite</li>
            </ul>
        </div>
        <div class="skill-card">
            <h3>Languages</h3>
            <ul>
                <li>Azerbaijani (Native)</li>
                <li>English (7.0 IELTS)</li>
                <li>Turkish (Fluent)</li>
            </ul>
    </div>
</section>
{% endblock %}